* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.caht_container ::-webkit-scrollbar {
  width: 5px;
}
.caht_container ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.caht_container ::-webkit-scrollbar-thumb {
  background: #888;
}
.caht_container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.caht_container .navigation_bar {
  position: relative;
  max-width: 260px;
  width: inherit;
  background-color: #023c3f;
  transition: width 0.5s;
}
@media (max-width: 1500px) {
  .caht_container .navigation_bar {
    width: 100px;
  }
  .caht_container .navigation_bar span {
    display: none;
  }
}
.caht_container .navigation_bar .nav_head {
  height: 70px;
  width: 100%;
  background-color: #1c4f54;
  color: white;
  text-align: center;
  line-height: 70px;
  font-size: 25px;
}
.caht_container .navigation_bar .nav_items ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 10px 20px;
}
.caht_container .navigation_bar .nav_items ul li {
  cursor: pointer;
  color: #7597a2;
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px 0 7px 15px;
  border-radius: 10px;
}
.caht_container .navigation_bar .nav_items ul li:hover {
  background-color: #e4e4e4;
  transition: 0.5s;
}
.caht_container .navigation_bar .nav_items ul li:hover i,
.caht_container .navigation_bar .nav_items ul li:hover span,
.caht_container .navigation_bar .nav_items ul li:hover a {
  color: #023c3f;
}
.caht_container .navigation_bar .nav_items ul li a {
  text-decoration: none;
  color: #7597a2;
}
.caht_container .navigation_bar .nav_items ul li span,
.caht_container .navigation_bar .nav_items ul li a {
  flex-basis: 70%;
}
.caht_container .navigation_bar .nav_items ul li i {
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.caht_container .navigation_bar .nav_footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
}
.caht_container .navigation_bar .nav_footer ul {
  list-style-type: none;
  padding: 10px 20px;
}
.caht_container .navigation_bar .nav_footer ul li {
  cursor: pointer;
  color: #7597a2;
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px 0 7px 15px;
  border-radius: 10px;
}
.caht_container .navigation_bar .nav_footer ul li:hover {
  background-color: #e4e4e4;
  transition: 0.5s;
}
.caht_container .navigation_bar .nav_footer ul li:hover i,
.caht_container .navigation_bar .nav_footer ul li:hover span {
  color: #023c3f;
}
.caht_container .navigation_bar .nav_footer ul li span {
  flex-basis: 70%;
}
.caht_container .navigation_bar .nav_footer ul li i {
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.caht_container .adminbar_conversation {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
.caht_container .adminbar_conversation .user_login {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}
.caht_container .adminbar_conversation .user_login .conversation_head {
  height: 70px;
  width: 320px;
  color: white;
  text-align: left;
  line-height: 70px;
  font-size: 25px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
@media (max-width: 1500px) {
  .caht_container .adminbar_conversation .user_login .conversation_head {
    width: 300px !important;
  }
}
.caht_container .adminbar_conversation .user_login .conversation_head h4 {
  display: inline-block;
  color: #022c2e;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container {
  position: relative;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container:focus {
  outline: none;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .img_container {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .img_container img {
  width: 100%;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown {
  position: absolute;
  left: -150px;
  top: 50px;
  background-color: white;
  box-shadow: 0px 0px 5px #737375;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a {
  text-decoration: none;
  color: #353535;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a div {
  padding: 10px 35px;
  min-width: 150px;
  color: #3a3939;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a div:hover {
  background-color: #eee;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .data_hint_user {
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #4e4e4e;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .data_hint_user span {
  font-weight: bold;
}
.caht_container .adminbar_conversation .editProfile_container {
  width: 100%;
  height: 100%;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card {
  text-align: center;
  padding: 30px 30px;
  width: 500px;
  margin: auto;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .img_container {
  display: inline-block;
  max-width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
  border: 3px solid #ddd;
  box-shadow: 5px 5px 14px #8d8d8d;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .img_container img {
  width: 100%;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .btns {
  margin-bottom: 30px;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .btns button {
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-radius: 7px;
  box-shadow: 2px 2px 3px #727272;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .btns .btn_upload {
  margin-right: 20px;
  background-color: #3db16b;
  color: white;
  font-weight: 600;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .btns .btn_upload:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 5px silver;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .btns .btn_remove {
  background-color: #f86c6b;
  color: white;
  font-weight: 600;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .btns .btn_remove:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 5px silver;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card form {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card form label {
  display: block;
  font-weight: 500;
  color: #646464;
  font-size: 17px;
  margin-bottom: 10px;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card form input {
  width: 100%;
  border: 0;
  border-radius: 6px;
  padding: 7px 15px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 3px 3px 3px #d5d5d5;
  height: 44px;
  background: #eeeeeee8;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .save_cancle {
  text-align: right;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .save_cancle button {
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-radius: 7px;
  box-shadow: 2px 2px 3px #727272;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .save_cancle .btn_save {
  background-color: #20a8d8;
  color: white;
  font-weight: 600;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .save_cancle .btn_save:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 5px silver;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .save_cancle .btn_cancle {
  margin-right: 20px;
  background-color: #979797;
  color: white;
  font-weight: 600;
}
.caht_container .adminbar_conversation .editProfile_container .editProfile_card .save_cancle .btn_cancle:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 5px silver;
}

/*# sourceMappingURL=editProfile.css.map */
