* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // start scroll
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  // end of scroll
  .navigation_bar {
    position: relative;
    max-width: 260px;
    width: inherit;
    background-color: #023c3f;
    transition: width 0.5s;
    @media (max-width: 1500px) {
      width: 100px;
      span {
        display: none;
      }
    }
    .nav_head {
      height: 70px;
      width: 100%;
      background-color: #1c4f54;
      color: white;
      text-align: center;
      line-height: 70px;
      font-size: 25px;
    }
    .nav_items {
      ul {
        list-style-type: none;
        margin-top: 20px;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: #7597a2;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span,
            a {
              color: #023c3f;
            }
          }
          a {
            text-decoration: none;
            color: #7597a2;
          }
          span,
          a {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
    .nav_footer {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      ul {
        list-style-type: none;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: #7597a2;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span {
              color: #023c3f;
            }
          }
          span {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .adminbar_conversation {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    .user_login {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      border-bottom: 1px solid #eee;
      padding: 10px 20px;
      .conversation_head {
        height: 70px;
        width: 320px;
        color: white;
        text-align: left;
        line-height: 70px;
        font-size: 25px;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        @media (max-width: 1500px) {
          width: 300px !important;
        }
        h4 {
          display: inline-block;
          color: #022c2e;
        }
      }
      .active_chat_hint {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: row-reverse;
        .dropdown-container {
          position: relative;
          &:focus {
            outline: none;
            .dropdown {
              opacity: 1;
              z-index: 100;
              max-height: 100vh;
              transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
            }
          }
          .img_container {
            max-width: 50px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
          .dropdown {
            position: absolute;
            left: -150px;
            top: 50px;
            background-color: white;
            box-shadow: 0px 0px 5px rgb(115, 115, 117);
            outline: none;
            opacity: 0;
            z-index: -1;
            max-height: 0;
            transition: opacity 0.1s, z-index 0.1s, max-height 5s;
            a {
              text-decoration: none;
              color: rgb(53, 53, 53);
              div {
                padding: 10px 35px;
                min-width: 150px;
                color: rgb(58, 57, 57);
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
        }

        .data_hint_user {
          cursor: pointer;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: #4e4e4e;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .editProfile_container {
      width: 100%;
      height: 100%;
      .editProfile_card {
        text-align: center;
        padding: 30px 30px;
        width: 500px;
        margin: auto;
        .img_container {
          display: inline-block;
          max-width: 150px;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 30px;
          border: 3px solid #ddd;
          box-shadow: 5px 5px 14px #8d8d8d;
          img {
            width: 100%;
          }
        }
        .btns {
          margin-bottom: 30px;
          button {
            padding: 10px 20px;
            border: 0;
            outline: none;
            border-radius: 7px;
            box-shadow: 2px 2px 3px #727272;
          }
          .btn_upload {
            margin-right: 20px;
            background-color: #3db16b;
            color: white;
            font-weight: 600;
            &:hover {
              transform: scale(1.05);
              box-shadow: 4px 4px 5px rgb(192, 192, 192);
            }
          }
          .btn_remove {
            background-color: #f86c6b;
            color: white;
            font-weight: 600;
            &:hover {
              transform: scale(1.05);
              box-shadow: 4px 4px 5px rgb(192, 192, 192);
            }
          }
        }
        form {
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          label {
            display: block;
            font-weight: 500;
            color: #646464;
            font-size: 17px;
            margin-bottom: 10px;
          }
          input {
            width: 100%;
            border: 0;
            border-radius: 6px;
            padding: 7px 15px;
            margin-bottom: 20px;
            outline: none;
            box-shadow: 3px 3px 3px #d5d5d5;
            height: 44px;
            background: #eeeeeee8;
          }
        }
        .save_cancle {
          text-align: right;
          button {
            padding: 10px 20px;
            border: 0;
            outline: none;
            border-radius: 7px;
            box-shadow: 2px 2px 3px #727272;
          }
          .btn_save {
            background-color: #20a8d8;
            color: white;
            font-weight: 600;
            &:hover {
              transform: scale(1.05);
              box-shadow: 4px 4px 5px rgb(192, 192, 192);
            }
          }
          .btn_cancle {
            margin-right: 20px;
            background-color: rgb(151, 151, 151);
            color: white;
            font-weight: 600;
            &:hover {
              transform: scale(1.05);
              box-shadow: 4px 4px 5px rgb(192, 192, 192);
            }
          }
        }
      }
    }
  }
}
