* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.caht_container ::-webkit-scrollbar {
  width: 5px;
}
.caht_container ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.caht_container ::-webkit-scrollbar-thumb {
  background: #888;
}
.caht_container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.caht_container .navigation_bar {
  position: relative;
  max-width: 260px;
  width: inherit;
  background-color: #023c3f;
  transition: width 0.5s;
}
@media (max-width: 1500px) {
  .caht_container .navigation_bar {
    width: 100px;
  }
  .caht_container .navigation_bar span {
    display: none;
  }
}
.caht_container .navigation_bar .nav_head {
  height: 70px;
  width: 100%;
  background-color: #1c4f54;
  color: white;
  text-align: center;
  line-height: 70px;
  font-size: 25px;
}
.caht_container .navigation_bar .nav_items ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 10px 20px;
}
.caht_container .navigation_bar .nav_items ul li {
  cursor: pointer;
  color: #7597a2;
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px 0 7px 15px;
  border-radius: 10px;
}
.caht_container .navigation_bar .nav_items ul li:hover {
  background-color: #e4e4e4;
  transition: 0.5s;
}
.caht_container .navigation_bar .nav_items ul li:hover i,
.caht_container .navigation_bar .nav_items ul li:hover span,
.caht_container .navigation_bar .nav_items ul li:hover a {
  color: #023c3f;
}
.caht_container .navigation_bar .nav_items ul li a {
  text-decoration: none;
  color: #7597a2;
}
.caht_container .navigation_bar .nav_items ul li span,
.caht_container .navigation_bar .nav_items ul li a {
  flex-basis: 70%;
}
.caht_container .navigation_bar .nav_items ul li i {
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.caht_container .navigation_bar .nav_footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
}
.caht_container .navigation_bar .nav_footer ul {
  list-style-type: none;
  padding: 10px 20px;
}
.caht_container .navigation_bar .nav_footer ul li {
  cursor: pointer;
  color: #7597a2;
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px 0 7px 15px;
  border-radius: 10px;
}
.caht_container .navigation_bar .nav_footer ul li:hover {
  background-color: #e4e4e4;
  transition: 0.5s;
}
.caht_container .navigation_bar .nav_footer ul li:hover i,
.caht_container .navigation_bar .nav_footer ul li:hover span {
  color: #023c3f;
}
.caht_container .navigation_bar .nav_footer ul li span {
  flex-basis: 70%;
}
.caht_container .navigation_bar .nav_footer ul li i {
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.caht_container .adminbar_conversation {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
.caht_container .adminbar_conversation .user_login {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}
.caht_container .adminbar_conversation .user_login .conversation_head {
  height: 70px;
  width: 320px;
  color: white;
  text-align: left;
  line-height: 70px;
  font-size: 25px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
@media (max-width: 1500px) {
  .caht_container .adminbar_conversation .user_login .conversation_head {
    width: 300px !important;
  }
}
.caht_container .adminbar_conversation .user_login .conversation_head h4 {
  display: inline-block;
  color: #022c2e;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container {
  position: relative;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container:focus {
  outline: none;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .img_container {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .img_container img {
  width: 100%;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown {
  position: absolute;
  left: -150px;
  top: 50px;
  background-color: white;
  box-shadow: 0px 0px 5px #737375;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a {
  text-decoration: none;
  color: #353535;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a div {
  padding: 10px 35px;
  min-width: 150px;
  color: #3a3939;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a div:hover {
  background-color: #eee;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .data_hint_user {
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #4e4e4e;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .data_hint_user span {
  font-weight: bold;
}
.caht_container .adminbar_conversation .home {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.caht_container .adminbar_conversation .home .dashboard {
  width: 100%;
  height: 100%;
  flex-basis: 75%;
  border-right: var(--border-bottom);
}
.caht_container .adminbar_conversation .home .dashboard .upper_div {
  padding: 50px 45px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .img_with_span {
  position: relative;
  width: fit-content;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .img_with_span .img_container {
  max-width: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .img_with_span .img_container img {
  width: 100%;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .img_with_span span {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #19bfcb;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid #fff;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .info span {
  font-size: 25px;
  color: white;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .info span span {
  font-weight: bold;
}
.caht_container .adminbar_conversation .home .dashboard .upper_div .info p {
  font-weight: 600;
  color: white;
}
.caht_container .adminbar_conversation .home .dashboard .datepicker {
  text-align: right;
  padding: 30px 50px;
}
.caht_container .adminbar_conversation .home .dashboard .datepicker input {
  font-weight: 500;
  color: darkgrey;
  padding: 10px;
  outline: none;
  border: 0;
  border-bottom: 1px solid silver;
  border-radius: 10px;
}
.caht_container .adminbar_conversation .home .dashboard .datepicker input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  filter: invert(0.4);
}
.caht_container .adminbar_conversation .home .dashboard .chart {
  margin: 30px 50px;
  padding: 40px 30px;
  border: var(--border-bottom);
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  background-color: var(--background-color);
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .incoming {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: var(--border-bottom);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--background--container-color);
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .incoming .incoming_icon {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: var(--background-color);
  border-top: 2px solid #6dad8b;
  border-bottom: 2px solid #dbdbdb;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .incoming .incoming_icon i {
  font-size: 20px;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .incoming .info {
  display: flex;
  flex-direction: column;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .incoming .info .label {
  font-weight: bold;
  font-size: 22px;
  color: white;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .incoming .info .number {
  color: white;
  font-weight: 500;
  font-size: 19px;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact {
  margin-top: 30px;
  border: var(--border-bottom);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--background--container-color);
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table th,
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table td {
  padding: 5px 40px 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .active_head,
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .close_head {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 20px;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .active_head {
  color: #3da56e;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .close_head {
  color: #f2774e;
}
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .label_word,
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .group_word,
.caht_container .adminbar_conversation .home .dashboard .chart .statistic .label_group_contact table .contacts_word {
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  color: white;
  padding-right: 30px;
}
.caht_container .adminbar_conversation .home .sidebar {
  width: 100%;
  height: 100%;
  flex-basis: 25%;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div {
  height: 22.1%;
  border-bottom: var(--border-bottom);
  padding: 40px 30px 10px;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date span {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date span span {
  font-weight: 400;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date .arrow {
  display: flex;
  align-items: center;
  gap: 20px;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date .arrow i {
  color: #b6b6b6;
  font-size: 19px;
  cursor: pointer;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date .arrow i:hover {
  color: #272727;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date .arrow i:focus {
  color: #272727;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .date .arrow i:active {
  color: #272727;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days {
  margin-top: 30px;
  height: 92px;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul {
  height: 100%;
  list-style: none;
  padding: 10px 0 0;
  margin-bottom: 0;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li {
  height: inherit;
  cursor: pointer;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li:hover .date_number {
  background-color: #008b92;
  color: #ffffff;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li:focus {
  border-bottom: 3px solid #00696e;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li:focus .date_number {
  background-color: #00696e;
  color: #ffffff;
  transform: scale(1.15);
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li div span {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: white;
}
.caht_container .adminbar_conversation .home .sidebar .calender_div .calender_days ul li div .date_number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5eeec;
  color: #023c3f;
  line-height: 40px;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.caht_container .adminbar_conversation .home .sidebar .mission {
  height: 37%;
  border-bottom: var(--border-bottom);
  padding: 40px 30px 10px;
  overflow-y: auto;
}
.caht_container .adminbar_conversation .home .sidebar .mission .from_span {
  color: white;
  font-weight: 500;
  position: relative;
  display: block;
}
.caht_container .adminbar_conversation .home .sidebar .mission .to_span {
  color: white;
  font-weight: 500;
  position: relative;
  display: block;
}
.caht_container .adminbar_conversation .home .sidebar .mission .mission_card {
  width: 250px;
  height: fit-content;
  border-radius: 15px;
  background-color: #18b7c2;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.caht_container .adminbar_conversation .home .sidebar .mission .mission_card span {
  display: inline-block;
}
.caht_container .adminbar_conversation .home .sidebar .mission .mission_card .mission_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #15abb6;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}
.caht_container .adminbar_conversation .home .sidebar .mission .mission_card .mission_info {
  color: white;
  font-weight: 500;
}
.caht_container .adminbar_conversation .home .sidebar .mission .mission_card .mission_info p {
  margin-bottom: 0;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity {
  height: 41%;
  padding: 20px 30px 100px;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity h5 {
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits {
  height: 245px;
  overflow-y: auto;
  padding-right: 20px;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul {
  list-style: none;
  padding-left: 0;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .img_container {
  max-width: 40px;
  margin-top: 15px;
  position: relative;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .img_container::after {
  position: absolute;
  content: "";
  height: 140px;
  width: 2px;
  top: 46px;
  left: 20px;
  border-right: 2px dotted #b3b0b0;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .img_container img {
  width: 100%;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_status {
  color: #f2774e;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_status i {
  margin-right: 10px;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_owner_and_what_happend {
  max-width: 275px;
  overflow: hidden;
  height: 25px;
  color: white;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_owner_and_what_happend .task_owner {
  font-weight: bold;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_owner_and_what_happend .what_happend {
  font-weight: 500;
  color: #adadad;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .time {
  font-weight: 500;
  color: #adadad;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_card {
  border: var(--border-bottom);
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 20px;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_card span {
  font-weight: 600;
  color: white;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_card span .task_card_number {
  color: #9c9c9c;
}
.caht_container .adminbar_conversation .home .sidebar .recent_activity .activits ul li .task .task_card .flag {
  color: white;
  background-color: #f2774e;
  border-radius: 20px;
  padding: 0px 9px;
  font-weight: 500;
  font-size: 12px;
}

/*# sourceMappingURL=home-dark.css.map */
