* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // start scroll
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  // end of scroll
  .navigation_bar {
    position: relative;
    max-width: 260px;
    width: inherit;
    background-color: #023c3f;
    transition: width 0.5s;
    @media (max-width: 1500px) {
      width: 100px;
      span {
        display: none;
      }
    }
    .nav_head {
      height: 70px;
      width: 100%;
      background-color: #1c4f54;
      color: white;
      text-align: center;
      line-height: 70px;
      font-size: 25px;
    }
    .nav_items {
      ul {
        list-style-type: none;
        margin-top: 20px;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: #7597a2;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span,
            a {
              color: #023c3f;
            }
          }
          a {
            text-decoration: none;
            color: #7597a2;
          }
          span,
          a {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
    .nav_footer {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      ul {
        list-style-type: none;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: #7597a2;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span {
              color: #023c3f;
            }
          }
          span {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .adminbar_conversation {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    .user_login {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      border-bottom: 1px solid #eee;
      padding: 10px 20px;
      .conversation_head {
        height: 70px;
        width: 320px;
        color: white;
        text-align: left;
        line-height: 70px;
        font-size: 25px;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        @media (max-width: 1500px) {
          width: 300px !important;
        }
        h4 {
          display: inline-block;
          color: #022c2e;
        }
      }
      .active_chat_hint {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: row-reverse;
        .dropdown-container {
          position: relative;
          &:focus {
            outline: none;
            .dropdown {
              opacity: 1;
              z-index: 100;
              max-height: 100vh;
              transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
            }
          }
          .img_container {
            max-width: 50px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
          .dropdown {
            position: absolute;
            left: -150px;
            top: 50px;
            background-color: white;
            box-shadow: 0px 0px 5px rgb(115, 115, 117);
            outline: none;
            opacity: 0;
            z-index: -1;
            max-height: 0;
            transition: opacity 0.1s, z-index 0.1s, max-height 5s;
            a {
              text-decoration: none;
              color: rgb(53, 53, 53);
              div {
                padding: 10px 35px;
                min-width: 150px;
                color: rgb(58, 57, 57);
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
        }

        .data_hint_user {
          cursor: pointer;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: #4e4e4e;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .home {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .dashboard {
        width: 100%;
        height: 100%;
        flex-basis: 75%;
        border-right: 1px solid #ddd;
        .upper_div {
          //   background-color: cornflowerblue;
          padding: 50px 45px 30px;
          display: flex;
          align-items: center;
          gap: 30px;
          .img_with_span {
            position: relative;
            width: fit-content;
            .img_container {
              max-width: 80px;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
            span {
              position: absolute;
              top: 0;
              right: 0;
              color: white;
              background-color: #19bfcb;
              border-radius: 50%;
              width: 22px;
              height: 22px;
              display: inline-block;
              text-align: center;
              font-size: 13px;
              font-weight: bold;
              border: 2px solid #fff;
            }
          }
          .info {
            span {
              font-size: 25px;
              span {
                font-weight: bold;
              }
            }
            p {
              font-weight: 600;
              color: #2e2e2e;
            }
          }
        }
        .datepicker {
          text-align: right;
          padding: 30px 50px;
          input {
            font-weight: 500;
            color: darkgrey;
            padding: 10px;
            outline: none;
            border: 0;
            border-bottom: 1px solid rgb(192, 192, 192);
            box-shadow: 5px 5px 10px #ddd;
            border-radius: 10px;
          }
          input[type="date"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
            border-radius: 4px;
            margin-right: 2px;
            filter: invert(0.4);
          }
        }
        .chart {
          margin: 30px 50px;
          padding: 40px 30px;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0px 0px 15px #dbdbdb;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          gap: 25px;
          
          .statistic {
            .incoming {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              border: 1px solid #dbdbdb;
              width: fit-content;
              padding: 10px 20px;
              border-radius: 10px;
              box-shadow: 0px 0px 15px #dbdbdb;
              .incoming_icon {
                margin-right: 20px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: white;
                display: inline-block;
                line-height: 40px;
                text-align: center;
                color: #6dad8b;
                border-top: 2px solid #6dad8b;
                border-bottom: 2px solid #dbdbdb;
                box-shadow: 0px 1px 15px #ddd;
                i {
                  font-size: 20px;
                }
              }
              .info {
                display: flex;
                flex-direction: column;
                .label {
                  font-weight: bold;
                  font-size: 22px;
                  color: #444;
                }
                .number {
                  font-weight: 500;
                  font-size: 19px;
                }
              }
            }
            .label_group_contact {
              margin-top: 30px;
              border: 1px solid #dbdbdb;
              width: fit-content;
              padding: 10px 20px;
              border-radius: 10px;
              box-shadow: 0px 0px 15px #dbdbdb;
              table {
                th , td {
                  padding: 5px 40px 20px;
                  text-align: center;
                  font-weight: bold;
                  color: #565656;
                }
                .active_head ,.close_head {
                  font-weight: 500;
                  font-size: 20px;
                  padding-bottom: 20px;
                }
                .active_head {
                  color: #3da56e;
                }
                .close_head {
                  color: #f2774e;
                }
                .label_word ,.group_word ,.contacts_word {
                  text-align: left;
                  font-weight: bold;
                  font-size: 22px;
                  color: #444;
                  padding-right: 30px;
                  box-shadow: 0px 2px 5px #f1f0f0;
                }
              }
            }
          }
        }
      }
      .sidebar {
        width: 100%;
        height: 100%;
        flex-basis: 25%;
        .calender_div {
          height: 22.1%;
          border-bottom: 1px solid #ddd;
          padding: 40px 30px 10px;
          box-shadow: 2px 5px 15px #e3e3e3;
          .date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              font-weight: bold;
              font-size: 25px;
              span {
                font-weight: 400;
              }
            }
            .arrow {
              display: flex;
              align-items: center;
              gap: 20px;
              i {
                color: rgb(182, 182, 182);
                font-size: 19px;
                cursor: pointer;
                &:hover {
                  color: rgb(39, 39, 39);
                }
                &:focus {
                  color: rgb(39, 39, 39);
                }
                &:active {
                  color: rgb(39, 39, 39);
                }
              }
            }
          }
          .calender_days {
            margin-top: 30px;
            height: 92px;
            ul {
              height: 100%;
              list-style: none;
              padding: 10px 0 0;
              margin-bottom: 0;
              display: flex;
              gap: 10px;
              align-items: flex-start;
              justify-content: center;
              li {
                height: inherit;
                cursor: pointer;
                &:hover {
                  .date_number {
                    background-color: #008b92;
                    color: #ffffff;
                  }
                }
                &:focus {
                  border-bottom: 3px solid #00696e;
                  .date_number {
                    background-color: #00696e;
                    color: #ffffff;
                    transform: scale(1.15);
                  }
                }
                div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: fit-content;
                  span {
                    display: inline-block;
                    text-align: center;
                    font-weight: 500;
                    font-size: 13px;
                    color: #023c3f;
                  }
                  .date_number {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #e5eeec;
                    line-height: 40px;
                    font-weight: 500;
                    font-size: 15px;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
        .mission {
          height: 37%;
          border-bottom: 1px solid #ddd;
          padding: 40px 30px 10px;
          overflow-y: auto;
          .from_span {
            color: #7c7c7c;
            font-weight: 500;
            position: relative;
            display: block;
            &::after {
              position: absolute;
              content: "";
              width: 250px;
              height: 1px;
              background-color: #ddd;
              left: 90px;
              top: 13px;
            }
          }
          .to_span {
            color: #7c7c7c;
            font-weight: 500;
            position: relative;
            display: block;
            &::after {
              position: absolute;
              content: "";
              width: 250px;
              height: 1px;
              background-color: #ddd;
              left: 90px;
              top: 13px;
            }
          }
          .mission_card {
            width: 250px;
            height: fit-content;
            border-radius: 15px;
            background-color: #18b7c2;
            margin-left: auto;
            margin-right: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            span {
              display: inline-block;
            }
            .mission_icon {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: white;
              color: #15abb6;
              display: inline-block;
              text-align: center;
              line-height: 40px;
            }
            .mission_info {
              color: white;
              font-weight: 500;
              p {
                margin-bottom: 0;
              }
            }
          }
        }
        .recent_activity {
          height: 41%;
          padding: 20px 30px 100px;
          box-shadow: 9px 4px 10px #000;
          h5 {
            font-weight: bold;
            margin-bottom: 20px;
          }
          .activits {
            height: 245px;
            overflow-y: auto;
            padding-right: 20px;
            ul {
              list-style: none;
              padding-left: 0;
              li {
                display: flex;
                gap: 20px;
                justify-content: flex-start;
                margin-bottom: 25px;
                .img_container {
                  max-width: 40px;
                  margin-top: 15px;
                  position: relative;
                  &::after {
                    position: absolute;
                    content: "";
                    height: 140px;
                    width: 2px;
                    top: 46px;
                    left: 20px;
                    border-right: 2px dotted #b3b0b0;
                  }
                  img {
                    width: 100%;
                  }
                }
                .task {
                  .task_status {
                    color: #f2774e;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 10px;
                    i {
                      margin-right: 10px;
                    }
                  }
                  .task_owner_and_what_happend {
                    max-width: 275px;
                    overflow: hidden;
                    height: 25px;
                    .task_owner {
                      font-weight: bold;
                    }
                    .what_happend {
                      font-weight: 500;
                      color: rgb(122, 122, 122);
                    }
                  }
                  .time {
                    font-weight: 500;
                    color: rgb(122, 122, 122);
                  }
                  .task_card {
                    border: 1px solid rgb(224, 224, 224);
                    border-radius: 10px;
                    padding: 10px 15px;
                    margin-top: 20px;
                    box-shadow: 0px 0px 10px #ddd;
                    span {
                      font-weight: 600;
                      .task_card_number {
                        color: rgb(156, 156, 156);
                      }
                    }
                    .flag {
                      color: white;
                      background-color: #f2774e;
                      border-radius: 20px;
                      padding: 0px 9px;
                      font-weight: 500;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
