* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // start scroll
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  // end of scroll
  .navigation_bar {
    position: relative;
    max-width: 260px;
    width: inherit;
    background-color: #023c3f;
    transition: width 0.5s;
    @media (max-width: 1500px) {
      width: 100px;
      span {
        display: none;
      }
    }
    .nav_head {
      height: 70px;
      width: 100%;
      background-color: #1c4f54;
      color: white;
      text-align: center;
      line-height: 70px;
      font-size: 25px;
    }
    .nav_items {
      ul {
        list-style-type: none;
        margin-top: 20px;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: #7597a2;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span,
            a {
              color: #023c3f;
            }
          }
          a {
            text-decoration: none;
            color: #7597a2;
          }
          span,
          a {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
    .nav_footer {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      ul {
        list-style-type: none;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: #7597a2;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span {
              color: #023c3f;
            }
          }
          span {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .adminbar_conversation {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    .user_login {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      border-bottom: 1px solid #eee;
      padding: 10px 20px;
      .conversation_head {
        height: 70px;
        width: 320px;
        color: white;
        text-align: left;
        line-height: 70px;
        font-size: 25px;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        @media (max-width: 1500px) {
          width: 300px !important;
        }
        h4 {
          display: inline-block;
          color: #022c2e;
        }
      }
      .active_chat_hint {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: row-reverse;
        .dropdown-container {
          position: relative;
          &:focus {
            outline: none;
            .dropdown {
              opacity: 1;
              z-index: 100;
              max-height: 100vh;
              transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
            }
          }
          .img_container {
            max-width: 50px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
          .dropdown {
            position: absolute;
            left: -150px;
            top: 50px;
            background-color: white;
            box-shadow: 0px 0px 5px rgb(115, 115, 117);
            outline: none;
            opacity: 0;
            z-index: -1;
            max-height: 0;
            transition: opacity 0.1s, z-index 0.1s, max-height 5s;
            a {
              text-decoration: none;
              color: rgb(53, 53, 53);
              div {
                padding: 10px 35px;
                min-width: 150px;
                color: rgb(58, 57, 57);
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
        }

        .data_hint_user {
          cursor: pointer;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: #4e4e4e;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .reports {
      // display: none;
      display: block;
      width: 100%;
      height: 100%;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
        padding: 25px 30px;
        border-radius: 10px;
        background-color: var(--background-color);
        border: var(--border-bottom);
        .left_part {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 30px;
          select {
            width: 100px;
            border-radius: 5px;
            border: 0;
            color: #323232;
            outline: none;
            padding: 5px 5px;
          }
          p {
            margin-bottom: 0;
          }
          button {
            border: 0;
            outline: none;
            padding: 8px 20px;
            border-radius: 5px;
            margin-right: 5px;
            color: white;
            background-color: rgb(0, 140, 221);
            box-shadow: 3px 3px 3px #00588b;
            &:hover {
              background-color: rgb(0, 123, 194);
              transform: scale(1.1);
            }
          }
        }
        .btn_dropdown {
          position: relative;
          background-color: #909399;
          width: fit-content;
          display: inline-block;
          border-radius: 5px;
          padding-right: 5px;
          &:hover {
            background-color: #bbbbbb;
            .menuitems {
              display: block;
            }
          }
          .btn_with_arrow {
            .export {
              background-color: inherit;
              margin-right: 0;
              cursor: unset;
            }
            span {
              width: 25px;
              display: inline-block;
              position: relative;
              padding: 0 10px;
              text-align: center;
              color: white;
              cursor: pointer;
              transition: 0.5s;
              &:hover {
                transition: 0.5s;
                &:after {
                  height: 30px;
                  top: -3px;
                }
              }
              &:after {
                position: absolute;
                content: "";
                width: 1px;
                height: 22px;
                background-color: white;
                top: 0;
                left: 0;
              }
            }
          }
          .menuitems {
            display: none;
            position: absolute;
            top: 35px;
            right: 0px;
            background-color: white;
            border-radius: 3px;
            padding-top: 10px;
            padding-bottom: 10px;
            a {
              text-decoration: none;
              color: #747474;
              margin-bottom: 5px;
              div {
                transition: 0.5s;
                padding: 7px 20px;
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
          button {
            border: 0;
            outline: none;
            padding: 8px 10px;
            border-radius: 5px;
            margin-right: 5px;
            color: white;
          }
        }
      }
      .big_card {
        border: var(--border-bottom);
        margin: 0 30px;
        border-radius: 10px;
        background-color: var(--background-color);
        .incoming {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border: var(--border-bottom);
          gap: 25px;
          width: fit-content;
          margin: 30px 30px 10px;
          padding: 25px 30px;
          border-radius: 10px;
          box-shadow: 4px 4px 0px #495572;
          background-color: #008cdd;
          .incoming_icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            i {
              font-size: 25px;
              color: white;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            color: white;
            .label {
              font-weight: bold;
              font-size: 22px;
              color: white;
            }
            .number {
              font-weight: 500;
              font-size: 19px;
            }
          }
        }
        .tabel_chart {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 30px;
          padding: 30px 30px;
          .country_with_message {
            flex-basis: 50%;
            border: 1px solid #dbdbdb;
            background-color: var(--background--container-color);
            padding: 25px 30px;
            border-radius: 10px;
            height: 400px;
            max-height: 400px;
            overflow-y: auto;
            table {
              border-collapse: unset;
              th,
              td {
                padding: 5px 40px 20px;
                text-align: left;
                font-weight: bold;
                color: white;
                i {
                  margin-left: 15px;
                }
              }
              th {
                font-size: 20px;
                text-align: center;
                border-bottom: 1px solid #ddd;
              }
              .country,
              .country_label {
                border-right: 1px solid #ddd;
              }
            }
          }
          .chart {
            flex-basis: 50%;
            border: 1px solid #dbdbdb;
            padding: 25px 30px;
            border-radius: 10px;
            height: 400px;
            background-color: var(--background--container-color);
          }
        }
      }
    }
  }
}
