* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.caht_container ::-webkit-scrollbar {
  width: 5px;
}
.caht_container ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.caht_container ::-webkit-scrollbar-thumb {
  background: #888;
}
.caht_container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.caht_container .navigation_bar {
  position: relative;
  max-width: 260px;
  width: inherit;
  background-color: #023c3f;
  transition: width 0.5s;
}
@media (max-width: 1500px) {
  .caht_container .navigation_bar {
    width: 100px;
  }
  .caht_container .navigation_bar span {
    display: none;
  }
}
.caht_container .navigation_bar .nav_head {
  height: 70px;
  width: 100%;
  background-color: #1c4f54;
  color: white;
  text-align: center;
  line-height: 70px;
  font-size: 25px;
}
.caht_container .navigation_bar .nav_items ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 10px 20px;
}
.caht_container .navigation_bar .nav_items ul li {
  cursor: pointer;
  color: #7597a2;
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px 0 7px 15px;
  border-radius: 10px;
}
.caht_container .navigation_bar .nav_items ul li:hover {
  background-color: #e4e4e4;
  transition: 0.5s;
}
.caht_container .navigation_bar .nav_items ul li:hover i,
.caht_container .navigation_bar .nav_items ul li:hover span,
.caht_container .navigation_bar .nav_items ul li:hover a {
  color: #023c3f;
}
.caht_container .navigation_bar .nav_items ul li a {
  text-decoration: none;
  color: #7597a2;
}
.caht_container .navigation_bar .nav_items ul li span,
.caht_container .navigation_bar .nav_items ul li a {
  flex-basis: 70%;
}
.caht_container .navigation_bar .nav_items ul li i {
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.caht_container .navigation_bar .nav_footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
}
.caht_container .navigation_bar .nav_footer ul {
  list-style-type: none;
  padding: 10px 20px;
}
.caht_container .navigation_bar .nav_footer ul li {
  cursor: pointer;
  color: #7597a2;
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px 0 7px 15px;
  border-radius: 10px;
}
.caht_container .navigation_bar .nav_footer ul li:hover {
  background-color: #e4e4e4;
  transition: 0.5s;
}
.caht_container .navigation_bar .nav_footer ul li:hover i,
.caht_container .navigation_bar .nav_footer ul li:hover span {
  color: #023c3f;
}
.caht_container .navigation_bar .nav_footer ul li span {
  flex-basis: 70%;
}
.caht_container .navigation_bar .nav_footer ul li i {
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.caht_container .adminbar_conversation {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
.caht_container .adminbar_conversation .user_login {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}
.caht_container .adminbar_conversation .user_login .conversation_head {
  height: 70px;
  width: 320px;
  color: white;
  text-align: left;
  line-height: 70px;
  font-size: 25px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
@media (max-width: 1500px) {
  .caht_container .adminbar_conversation .user_login .conversation_head {
    width: 300px !important;
  }
}
.caht_container .adminbar_conversation .user_login .conversation_head h4 {
  display: inline-block;
  color: #022c2e;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container {
  position: relative;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container:focus {
  outline: none;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .img_container {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .img_container img {
  width: 100%;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown {
  position: absolute;
  left: -150px;
  top: 50px;
  background-color: white;
  box-shadow: 0px 0px 5px #737375;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a {
  text-decoration: none;
  color: #353535;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a div {
  padding: 10px 35px;
  min-width: 150px;
  color: #3a3939;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .dropdown-container .dropdown a div:hover {
  background-color: #eee;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .data_hint_user {
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #4e4e4e;
}
.caht_container .adminbar_conversation .user_login .active_chat_hint .data_hint_user span {
  font-weight: bold;
}
.caht_container .adminbar_conversation .reports {
  display: block;
  width: 100%;
  height: 100%;
}
.caht_container .adminbar_conversation .reports .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 25px 30px;
  border-radius: 10px;
  background-color: var(--background-color);
  border: var(--border-bottom);
}
.caht_container .adminbar_conversation .reports .header .left_part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.caht_container .adminbar_conversation .reports .header .left_part select {
  width: 100px;
  border-radius: 5px;
  border: 0;
  color: #323232;
  outline: none;
  padding: 5px 5px;
}
.caht_container .adminbar_conversation .reports .header .left_part p {
  margin-bottom: 0;
}
.caht_container .adminbar_conversation .reports .header .left_part button {
  border: 0;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
  background-color: #008cdd;
  box-shadow: 3px 3px 3px #00588b;
}
.caht_container .adminbar_conversation .reports .header .left_part button:hover {
  background-color: #007bc2;
  transform: scale(1.1);
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown {
  position: relative;
  background-color: #909399;
  width: fit-content;
  display: inline-block;
  border-radius: 5px;
  padding-right: 5px;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown:hover {
  background-color: #bbbbbb;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown:hover .menuitems {
  display: block;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .btn_with_arrow .export {
  background-color: inherit;
  margin-right: 0;
  cursor: unset;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .btn_with_arrow span {
  width: 25px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .btn_with_arrow span:hover {
  transition: 0.5s;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .btn_with_arrow span:hover:after {
  height: 30px;
  top: -3px;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .btn_with_arrow span:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 22px;
  background-color: white;
  top: 0;
  left: 0;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .menuitems {
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .menuitems a {
  text-decoration: none;
  color: #747474;
  margin-bottom: 5px;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .menuitems a div {
  transition: 0.5s;
  padding: 7px 20px;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown .menuitems a div:hover {
  background-color: #eee;
}
.caht_container .adminbar_conversation .reports .header .btn_dropdown button {
  border: 0;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
}
.caht_container .adminbar_conversation .reports .big_card {
  border: var(--border-bottom);
  margin: 0 30px;
  border-radius: 10px;
  background-color: var(--background-color);
}
.caht_container .adminbar_conversation .reports .big_card .incoming {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: var(--border-bottom);
  gap: 25px;
  width: fit-content;
  margin: 30px 30px 10px;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 0px #495572;
  background-color: #008cdd;
}
.caht_container .adminbar_conversation .reports .big_card .incoming .incoming_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
  text-align: center;
}
.caht_container .adminbar_conversation .reports .big_card .incoming .incoming_icon i {
  font-size: 25px;
  color: white;
}
.caht_container .adminbar_conversation .reports .big_card .incoming .info {
  display: flex;
  flex-direction: column;
  color: white;
}
.caht_container .adminbar_conversation .reports .big_card .incoming .info .label {
  font-weight: bold;
  font-size: 22px;
  color: white;
}
.caht_container .adminbar_conversation .reports .big_card .incoming .info .number {
  font-weight: 500;
  font-size: 19px;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 30px 30px;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message {
  flex-basis: 50%;
  border: 1px solid #dbdbdb;
  background-color: var(--background--container-color);
  padding: 25px 30px;
  border-radius: 10px;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table {
  border-collapse: unset;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table th,
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table td {
  padding: 5px 40px 20px;
  text-align: left;
  font-weight: bold;
  color: white;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table th i,
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table td i {
  margin-left: 15px;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table th {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table .country,
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .country_with_message table .country_label {
  border-right: 1px solid #ddd;
}
.caht_container .adminbar_conversation .reports .big_card .tabel_chart .chart {
  flex-basis: 50%;
  border: 1px solid #dbdbdb;
  padding: 25px 30px;
  border-radius: 10px;
  height: 400px;
  background-color: var(--background--container-color);
}

/*# sourceMappingURL=reports-dark.css.map */
