:root {
  --background-color :#1f2940 ;
  --background--container-color :#141b2d ;
  --hover-color :#37496b ;
  --focus-color :#1e2d4b ;
  --border-bottom: 1px solid rgba(222, 228, 236, 0.1);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.caht_container {
  position: relative;
  height: 969px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // start scroll
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  // end of scroll
  // Start import dilog
  .import_dilog_container {
    display: none;
    transition: 0.5s;
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 200px;
    .dilog {
      width: 450px;
      height: 360px;
      background-color: rgb(245, 244, 244);
      margin: auto;
      border-radius: 15px;
      .first_div {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(187, 187, 187);
        span {
          font-weight: bold;
          font-size: 17px;
          color: rgb(100, 100, 100);
        }
        i {
          cursor: pointer;
          color: rgb(100, 100, 100);
        }
      }
      .second_div {
        padding: 40px 20px 20px;
        border-bottom: 1px solid rgb(187, 187, 187);
        .upload_here {
          text-align: center;
          cursor: pointer;
          margin-bottom: 40px;
          i {
            font-size: 60px;
            opacity: 0.3;
            margin-bottom: 15px;
          }
          p {
            opacity: 0.8;
          }
        }
        span {
          opacity: 0.8;
        }
      }
      .third_div {
        padding: 20px 20px;
        display: flex;
        justify-content: flex-end;
        button {
          border: 0;
          outline: none;
          padding: 8px 10px;
          border-radius: 3px;
          margin-right: 5px;
          color: white;
          width: inherit;
        }
        .btn_close {
          background-color: #959595;
        }
        .save_change_btn {
          background-color: #399eff;
        }
      }
    }
  }
  .newContact_dilog_container {
    display: none;
    transition: 0.5s;
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 200px;
    .dilog {
      width: 500px;
      height: 380px;
      background-color: rgb(245, 244, 244);
      margin: auto;
      border-radius: 15px;
      .first_div {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(187, 187, 187);
        span {
          font-weight: bold;
          font-size: 17px;
          color: rgb(100, 100, 100);
        }
        i {
          cursor: pointer;
          color: rgb(100, 100, 100);
        }
      }
      .second_div {
        padding: 20px 20px;
        border-bottom: 1px solid rgb(187, 187, 187);
        .new_contact {
          label {
            display: block;
            margin-bottom: 7px;
            font-weight: bold;
            color: #545454;
          }
          input {
            border: 0;
            outline: none;
            box-shadow: 0px 0px 10px #cbcbcb;
            border-radius: 5px;
            height: 32px;
            margin-bottom: 5px;
            padding: 5px;
            width: 200px;
          }
          select {
            width: 120px;
            margin-right: 10px;
            border: 0;
            outline: none;
            box-shadow: 0px 0px 10px #cbcbcb;
            border-radius: 5px;
            height: 32px;
            max-width: 195px;
          }
        }
      }
      .third_div {
        padding: 20px 20px;
        display: flex;
        justify-content: flex-end;
        button {
          border: 0;
          outline: none;
          padding: 8px 10px;
          border-radius: 3px;
          margin-right: 5px;
          color: white;
          width: inherit;
        }
        .btn_close {
          background-color: #959595;
        }
        .save_change_btn {
          background-color: #399eff;
        }
      }
    }
  }
  .newUser_dilog_container {
    display: none;
    transition: 0.5s;
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 200px;
    .dilog {
      width: 500px;
      height: 470px;
      background-color: rgb(245, 244, 244);
      margin: auto;
      border-radius: 15px;
      .first_div {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(187, 187, 187);
        span {
          font-weight: bold;
          font-size: 17px;
          color: rgb(100, 100, 100);
        }
        i {
          cursor: pointer;
          color: rgb(100, 100, 100);
        }
      }
      .second_div {
        padding: 20px 20px;
        border-bottom: 1px solid rgb(187, 187, 187);
        .new_contact {
          label {
            display: block;
            margin-bottom: 7px;
            font-weight: bold;
            color: #545454;
          }
          input {
            border: 0;
            outline: none;
            box-shadow: 0px 0px 10px #cbcbcb;
            border-radius: 5px;
            height: 32px;
            margin-bottom: 10px;
            padding: 5px;
            width: 200px;
          }
          select {
            width: 120px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 0;
            outline: none;
            box-shadow: 0px 0px 10px #cbcbcb;
            border-radius: 5px;
            height: 32px;
            max-width: 195px;
          }
        }
      }
      .third_div {
        padding: 20px 20px;
        display: flex;
        justify-content: flex-end;
        button {
          border: 0;
          outline: none;
          padding: 8px 10px;
          border-radius: 3px;
          margin-right: 5px;
          color: white;
          width: inherit;
        }
        .btn_close {
          background-color: #959595;
        }
        .save_change_btn {
          background-color: #399eff;
        }
      }
    }
  }
  // End import dilog
  // start navigation bar
  .navigation_bar {
    position: relative;
    max-width: 260px;
    width: inherit;
    border-right: var(--border-bottom);
    background-color: var(--background-color);
    transition: width 0.5s;
    @media (max-width: 1500px) {
      width: 100px;
      span {
        display: none;
      }
    }
    .nav_head {
      height: 70px;
      width: 100%;
      background-color: var(--background-color);
      color: white;
      text-align: center;
      line-height: 70px;
      font-size: 25px;
      border-bottom: var(--border-bottom);
    }
    .nav_items {
      ul {
        list-style-type: none;
        margin-top: 20px;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: white;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span,
            a {
              color: #023c3f;
            }
          }
          a {
            text-decoration: none;
            color: white;
          }
          span,
          a {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
    .nav_footer {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      ul {
        list-style-type: none;
        padding: 10px 20px;
        li {
          cursor: pointer;
          color: white;
          margin-bottom: 15px;
          font-size: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 7px 0 7px 15px;
          border-radius: 10px;
          &:hover {
            background-color: rgb(228, 228, 228);
            transition: 0.5s;
            i,
            span {
              color: #023c3f;
            }
          }
          span {
            flex-basis: 70%;
          }
          i {
            padding: 7px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
  // end navigation bar
  .adminbar_conversation {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    .user_login {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      border-bottom: var(--border-bottom);
      background-color: var(--background-color);
      padding: 10px 20px;
      .conversation_head {
        height: 70px;
        width: 320px;
        text-align: left;
        line-height: 70px;
        font-size: 25px;
        @media (max-width: 1500px) {
          width: 300px !important;
        }
        h4 {
          display: inline-block;
          color: white;
        }
      }
      .active_chat_hint {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: row-reverse;
        .dropdown-container {
          position: relative;
          &:focus {
            outline: none;
            .dropdown {
              opacity: 1;
              z-index: 100;
              max-height: 100vh;
              transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
            }
          }
          .img_container {
            max-width: 50px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
          .dropdown {
            position: absolute;
            left: -150px;
            top: 50px;
            background-color: white;
            box-shadow: 0px 0px 5px rgb(115, 115, 117);
            outline: none;
            opacity: 0;
            z-index: -1;
            max-height: 0;
            transition: opacity 0.1s, z-index 0.1s, max-height 5s;
            a {
              text-decoration: none;
              color: rgb(53, 53, 53);
              div {
                padding: 10px 35px;
                min-width: 150px;
                color: rgb(58, 57, 57);
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
        }

        .data_hint_user {
          cursor: pointer;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: white;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .layouts_container {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: var(--background--container-color) ;
      // start conversation 
      .conversation_chat {
        // display: flex;
        display: none;
        position: absolute;
        width: 100%;
        // start active chat
        .conversation {
          min-width: 340px !important;
          height: 100%;
          background-color: var(--background-color);
          border-right: var(--border-bottom);
          @media (max-width: 1500px) {
            min-width: 320px !important;
          }
          .search_div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            padding: 30px 20px;
            height: 70px;
            border-bottom: var(--border-bottom);
            #search_active_chat {
              flex-basis: 90%;
            }
            .dropdown-container {
              position: relative;
              &:focus {
                outline: none;
                .dropdown {
                  opacity: 1;
                  z-index: 100;
                  max-height: 100vh;
                  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
                }
                .three-dots {
                  &::after {
                    background-color: var(--background--container-color);
                    border-radius: 50%;
                  }
                }
              }
              .three-dots {
                &:after {
                  cursor: pointer;
                  color: white;
                  content: "\2807";
                  font-size: 25px;
                  padding: 2px 7px 2px 14px;
                }
              }
              .dropdown {
                position: absolute;
                right: 20px;
                background-color: white;
                box-shadow: 0px 0px 5px rgb(115, 115, 117);
                outline: none;
                opacity: 0;
                z-index: -1;
                max-height: 0;
                transition: opacity 0.1s, z-index 0.1s, max-height 5s;
                a {
                  text-decoration: none;
                  color: rgb(53, 53, 53);
                  div {
                    padding: 10px 35px;
                    min-width: 200px;
                    color: rgb(58, 57, 57);
                    &:hover {
                      background-color: #eee;
                    }
                  }
                }
              }
            }
            input {
              outline: none;
            }
            input[type="search"] {
              -webkit-appearance: textfield;
              -webkit-box-sizing: content-box;
              font-family: inherit;
              font-size: 100%;
            }
            input::-webkit-search-decoration,
            input::-webkit-search-cancel-button {
              display: none;
            }
            input[type="search"] {
              background: #ededed
                url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
                no-repeat 9px center;
              border: solid 1px #ccc;
              padding: 9px 10px 9px 32px;
              width: 55px;
              -webkit-border-radius: 10em;
              -moz-border-radius: 10em;
              border-radius: 10em;
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              transition: all 0.5s;
            }
            input[type="search"]:focus {
              width: 200px;
              background-color: #fff;
              border-color: #66cc75;
              -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
              -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
              box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
            }
            input:-moz-placeholder {
              color: #999;
            }
            input::-webkit-input-placeholder {
              color: #999;
            }
            #search_active_chat input[type="search"] {
              width: 230px;
              padding-left: 10px;
              color: transparent;
              cursor: pointer;
              @media (max-width: 1500px) {
                width: 200px;
              }
            }
            #search_active_chat input[type="search"]:hover {
              background-color: #fff;
            }
            #search_active_chat input[type="search"]:focus {
              width: 210px;
              padding-left: 32px;
              color: #000;
              background-color: #fff;
              cursor: auto;
            }
            #search_active_chat input:-moz-placeholder {
              color: transparent;
            }
            #search_active_chat input::-webkit-input-placeholder {
              color: transparent;
            }
          }
          #tabs {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-left: 0;
            margin-bottom: 0;
            border-bottom: var(--border-bottom);
            li {
              list-style: none;
              outline: none;
              position: relative;
              &:hover {
                .hint {
                  display: block;
                }
              }
              a {
                color: #5685bc;
                display: block;
                text-decoration: none;
                outline: none;
                padding: 0 15px;
                cursor: pointer;
                border: 0;
                outline: none;
                padding-bottom: 15px;
                &:focus {
                  border-bottom: 2px solid;
                }
                i {
                  color: #34787e;
                  margin-right: 5px;
                  font-size: 17px;
                }
                span {
                  font-size: 11px;
                  color: #3a3838;
                  background-color: #ddd;
                  border-radius: 50%;
                  padding: 0px 3px;
                  width: 20px;
                  display: inline-block;
                  text-align: center;
                  font-weight: bold;
                }
              }
              a.inactive {
                outline: none;
                border-bottom: 0;
              }
              a.active {
                outline: none;
                border-bottom: 2px solid #34787e;
                span {
                  color: white;
                  background-color: #34787e;
                }
              }
              .hint {
                display: none;
                position: absolute;
                width: max-content;
                left: 16px;
                top: 30px;
                .span_hover {
                  margin-left: 0;
                  position: relative;
                  border-width: 1px;
                  border-color: #c4c3c3;
                  border-style: solid;
                  max-width: 120px;
                  height: auto;
                  padding: 0 6px;
                  text-align: center;
                  font-size: 14px;
                  border-radius: 4px;
                  background-color: #ddd;
                  color: #4a4a4a;
                  z-index: 10000;
                  &::before {
                    position: absolute;
                    content: "";
                    left: 32%;
                    top: -15px;
                    border-width: 7px;
                    border-color: transparent transparent #c4c3c3 transparent;
                    border-style: solid;
                    width: 0px;
                    height: 0px;
                    z-index: 10000;
                  }
                }
              }
            }
          }
          .container {
            padding-right: 0;
            padding-left: 0;
            overflow-y: auto;
            height: 785px;
            margin-bottom: 30px;
          }
          .tab2 {
            ul {
              list-style: none;
              padding-left: 0;
              li {
                cursor: pointer;
                padding: 10px 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                border-bottom: var(--border-bottom);
                padding-left: 25px;
                &:focus-within {
                  background: var(--focus-color);
                }
                &:hover {
                  background-color: var(--hover-color);
                }
                .img_container {
                  max-width: 50px;
                  img {
                    width: 100%;
                    margin-top: 5px;
                  }
                }
                span {
                  font-weight: bold;
                  color: white;
                }
              }
            }
          }
          .chatList,
          .archiveList {
            ul {
              list-style: none;
              padding-left: 0;
              li {
                cursor: pointer;
                padding: 10px 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                border-bottom: var(--border-bottom);
                &:focus-within {
                  background: var(--focus-color);
                }
                &:hover {
                  background-color: var(--hover-color);
                }

                .img_container {
                  max-width: 50px;
                  position: relative;
                  .unread_counter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid #ddd;
                    background-color: orange;
                    color: white;
                    line-height: 14px;
                    display: block;
                    text-align: center;
                  }
                  img {
                    width: 100%;
                    margin-top: 5px;
                  }
                }
                .info {
                  position: relative;
                  .upper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    .name {
                      font-weight: bold;
                    }
                  }
                  h6 {
                    color: white;
                  }
                  .lower {
                    display: inline-flex;
                    justify-content: flex-start;
                    align-items: center;
                    i {
                      color: #1f8893;
                      transform: rotate(135deg);
                      font-size: 20px;
                      margin-right: 5px;
                    }
                  }
                  .read_or_not {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                  }
                }
              }
            }
          }
          .labels_with_name {
            ul {
              list-style: none;
              padding-left: 0;
              li {
                .just_label {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 20px;
                  padding: 20px;
                  border-bottom: var(--border-bottom);
                  cursor: pointer;
                  &:hover {
                    background-color: var(--hover-color);
                  }
                  &:focus {
                    background-color: var(--focus-color);
                  }
                  span {
                    width: 50px;
                    height: 50px;
                    background-color: #afafaf;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    line-height: 50px;
                    i {
                      color: #1f8893;
                      transform: rotate(135deg);
                      font-size: 20px;
                      margin-right: 5px;
                    }
                  }
                  h6 {
                    color: white;
                  }
                }
              }
            }
          }
        }
        // end active chat
        // start  chat area
        .chat_Area {
          width: -webkit-fill-available;
          position: relative;
          .go_to_top {
            position: absolute;
            z-index: 1000;
            background-color: #fff;
            bottom: 133px;
            left: 10px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
            cursor: pointer;
            box-shadow: 0px 0px 9px #686868;
            display: none;
            i {
              color: #857f7f;
            }
          }
          .go_to_down {
            position: absolute;
            z-index: 1000;
            background-color: #fff;
            bottom: 133px;
            left: 10px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
            cursor: pointer;
            box-shadow: 0px 0px 9px #686868;
            display: none;
            i {
              color: #857f7f;
            }
          }
          .full_part {
            overflow-y: hidden;
            height: 100%;
            display: flex;
            background-color: var(--background-color);
            .left_part {
              overflow-y: auto;
              height: 100%;
              width: 100%;
              .search_header {
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: var(--border-bottom);
                padding: 10px 20px;
                .left_part {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  .dropdown-container {
                    &:focus {
                      outline: none;
                      .dropdown {
                        opacity: 1;
                        z-index: 100;
                        max-height: 100vh;
                        transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
                      }
                      .three-dots {
                        &::after {
                          background-color: #000;
                          border-radius: 50%;
                        }
                      }
                    }
                    .three-dots {
                      &:after {
                        cursor: pointer;
                        color: white;
                        content: "\2807";
                        font-size: 25px;
                        padding: 2px 7px 2px 14px;
                        margin-right: 20px;
                      }
                    }
                    .dropdown {
                      position: absolute;
                      left: 30px;
                      background-color: white;
                      box-shadow: 0px 0px 5px rgb(115, 115, 117);
                      outline: none;
                      opacity: 0;
                      z-index: -1;
                      max-height: 0;
                      transition: opacity 0.1s, z-index 0.1s, max-height 5s;
                      a {
                        text-decoration: none;
                        color: rgb(53, 53, 53);
                        div {
                          padding: 10px 35px;
                          min-width: 200px;
                          color: rgb(58, 57, 57);
                          &:hover {
                            background-color: #eee;
                          }
                        }
                      }
                    }
                  }
                  input {
                    outline: none;
                  }
                  input[type="search"] {
                    -webkit-appearance: textfield;
                    -webkit-box-sizing: content-box;
                    font-family: inherit;
                    font-size: 100%;
                  }
                  input::-webkit-search-decoration,
                  input::-webkit-search-cancel-button {
                    display: none;
                  }
                  input[type="search"] {
                    background: #ededed
                      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
                      no-repeat 9px center;
                    border: solid 1px #ccc;
                    padding: 9px 10px 9px 32px;
                    width: 55px;
                    -webkit-border-radius: 10em;
                    -moz-border-radius: 10em;
                    border-radius: 10em;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;
                  }
                  input[type="search"]:focus {
                    width: 130px;
                    background-color: #fff;
                    border-color: #66cc75;
                    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  }
                  input:-moz-placeholder {
                    color: #999;
                  }
                  input::-webkit-input-placeholder {
                    color: #999;
                  }
                  #search_chat_area input[type="search"] {
                    width: 15px;
                    padding-left: 10px;
                    color: transparent;
                    cursor: pointer;
                  }
                  #search_chat_area input[type="search"]:hover {
                    background-color: #fff;
                  }
                  #search_chat_area input[type="search"]:focus {
                    width: 130px;
                    padding-left: 32px;
                    color: #000;
                    background-color: #fff;
                    cursor: auto;
                  }
                  #search_chat_area input:-moz-placeholder {
                    color: transparent;
                  }
                  #search_chat_area input::-webkit-input-placeholder {
                    color: transparent;
                  }
                }
                .active_chat_hint {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 20px;
                  flex-direction: row-reverse;
                  .img_container {
                    max-width: 50px;
                    img {
                      width: 100%;
                    }
                  }
                  .data_hint {
                    cursor: pointer;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    color: white;
                    width: 300px !important;
                    span {
                      font-weight: bold;
                    }
                  }
                }
              }
              .message_area {
                height: 21%;
                width: 100%;
                padding-top: 50px;
                overflow-y: auto;
                background-color: var(--background--container-color);
                .convirsation_welcom {
                  width: 500px;
                  height: 250px;
                  margin: auto;
                  .img_container {
                    max-width: 120px;
                    margin: auto;
                    padding: 20px 0;
                    img {
                      width: 100%;
                      border: 2px solid white;
                      border-radius: 50%;
                      box-shadow: 0px 4px 11px #3c3b3b;
                    }
                  }
                  .chat_data {
                    text-align: center;
                    color: white;
                    p {
                      font-family: inherit;
                      margin-top: 15px;
                      span {
                        font-family: revert;
                        font-weight: bold;
                      }
                    }
                  }
                  .chat_data > span {
                    font-weight: bold;
                    font-size: 25px;
                    font-family: revert;
                  }
                }
                .date_time {
                  margin-top: 20px;
                  margin-bottom: 20px;
                  text-align: center;
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #ddd;
                    z-index: 1;
                  }
                  span {
                    position: relative;
                    z-index: 100;
                    background-color: #ddd;
                    border-radius: 20px;
                    padding: 5px 15px;
                    color: rgb(88, 86, 86);
                    font-weight: bold;
                  }
                }
                .my_message {
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 15px;
                  flex-wrap: nowrap;
                  padding-left: 20px;
                  .img_container {
                    max-width: 40px;
                    padding-top: 30px;
                    img {
                      width: 100%;
                    }
                  }
                  .message_detailes {
                    width: -webkit-fill-available;
                    .who_send {
                      font-weight: bold;
                      color: white;
                    }
                    .doupleclick_div {
                      width: -webkit-fill-available;
                      .message_inner_div {
                        position: relative;
                        width: fit-content;
                        &:hover {
                          .arrow {
                            display: block;
                          }
                        }
                        .arrow {
                          position: absolute;
                          width: 15px;
                          height: 15px;
                          border-radius: 4px;
                          border-width: 3px;
                          border-color: transparent rgb(177, 176, 176)
                            rgb(177, 176, 176) transparent;
                          transform: rotate(45deg);
                          border-style: solid;
                          right: 10px;
                          top: 5px;
                          cursor: pointer;
                          display: none;
                        }
                        .message_inner {
                          border: var(--border-bottom);
                          padding: 15px;
                          margin-bottom: 10px;
                          display: block;
                          border-radius: 0px 15px 15px 15px;
                          font-weight: bold;
                          color: white;
                          max-width: 430px;
                          width: fit-content;
                          background-color: var(--background-color);
                        }
                        .action_list {
                          background-color: white;
                          position: absolute;
                          top: 45px;
                          right: 14px;
                          list-style: none;
                          width: fit-content;
                          margin-bottom: 0;
                          padding-left: 0;
                          box-shadow: 0px 0px 6px #787777;
                          z-index: 1000;
                          display: none;
                          li {
                            padding: 10px 20px;
                            &:hover {
                              background-color: #eee;
                              cursor: pointer;
                            }
                          }
                        }
                      }
                    }
                    .time_message {
                      color: white;
                      font-weight: bold;
                      font-size: 13px;
                      margin-left: 10px;
                    }
                  }
                }
                .other_message {
                  display: flex;
                  align-items: flex-start;
                  gap: 15px;
                  flex-wrap: nowrap;
                  flex-direction: row-reverse;
                  padding-right: 20px;
                  .img_container {
                    max-width: 40px;
                    padding-top: 30px;
                    img {
                      width: 100%;
                    }
                  }
                  .message_detailes {
                    width: -webkit-fill-available;
                    .who_send {
                      font-weight: bold;
                      color: white;
                      text-align: right;
                    }
                    .doupleclick_div {
                      width: -webkit-fill-available;
                      .message_inner_div {
                        position: relative;
                        width: fit-content;
                        margin-left: auto;
                        &:hover {
                          .arrow {
                            display: block;
                          }
                        }
                        .arrow {
                          position: absolute;
                          width: 15px;
                          height: 15px;
                          border-radius: 4px;
                          border-width: 3px;
                          border-color: transparent var(--background--container-color)
                          var(--background--container-color) transparent;
                          transform: rotate(45deg);
                          border-style: solid;
                          left: 10px;
                          top: 5px;
                          cursor: pointer;
                          display: none;
                        }
                        .message_inner {
                          border: 1px solid #ddd;
                          padding: 15px;
                          margin-bottom: 10px;
                          display: block;
                          border-radius: 15px 0px 15px 15px;
                          font-weight: bold;
                          color: rgb(37, 37, 37);
                          max-width: 430px;
                          width: fit-content;
                          margin-left: auto;
                          background-color: #eee;
                        }
                        .action_list {
                          background-color: white;
                          position: absolute;
                          top: 45px;
                          left: 14px;
                          list-style: none;
                          width: fit-content;
                          margin-bottom: 0;
                          padding-left: 0;
                          box-shadow: 0px 0px 6px #787777;
                          z-index: 1000;
                          display: none;
                          li {
                            padding: 10px 20px;
                            &:hover {
                              background-color: #eee;
                              cursor: pointer;
                            }
                          }
                        }
                      }
                    }
                    .time_message {
                      color: white;
                      font-weight: bold;
                      font-size: 13px;
                      margin-left: 10px;
                      text-align: right;
                    }
                  }
                }
              }
              .write_replay_div {
                position: relative;
                .write_message {
                  padding: 10px 40px;
                  margin: 30px;
                  width: auto;
                  height: 80px;
                  border-radius: 45px;
                  background-color: var(--background--container-color);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 15px;
                  i {
                    font-size: 24px;
                    color: rgb(116, 116, 116);
                    cursor: pointer;
                  }
                  input {
                    background-color: var(--background-color);
                    border: 0;
                    outline: none;
                    height: 100%;
                    width: -webkit-fill-available;
                    padding: 0 15px;
                    color:white;
                  }
                  input,
                  input::-webkit-input-placeholder {
                    font-size: 20px;
                  }
                  .tel {
                    color: white;
                    background-color: #188a97;
                    padding: 10px 20px;
                    border-radius: 50px;
                  }
                }
                .replay_box {
                  position: absolute;
                  bottom: 55px;
                  left: 0;
                  padding: 10px 40px;
                  margin: 30px;
                  width: -webkit-fill-available;
                  height: 90px;
                  border-radius: 45px;
                  background-color: var(--background--container-color);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 20px;
                  display: none;
                  span {
                    i {
                      color: white;
                      font-size: 20px;
                      cursor: pointer;
                    }
                  }
                  .message_replay {
                    width: -webkit-fill-available;
                    height: 70px;
                    padding: 0 15px;
                    background-color: var(--background-color);
                    border-radius: 5px;
                    border-right: 5px solid #6bcbef;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 2px;
                    overflow-y: hidden;
                    span {
                      margin-top: 10px;
                      font-weight: bold;
                      color: #6bcbef;
                    }
                    p {
                      color: white;
                      padding-right: 10px;
                      max-height: 35px;
                    }
                  }
                }
              }
            }
            .profile_area {
              width: 400px !important;
              overflow-y: auto;
              border-left: var(--border-bottom);
              @media (max-width: 1360px) {
                display: none;
              }
              .first_part {
                padding-bottom: 20px;
                border-bottom: var(--border-bottom);
                i {
                  font-weight: bold;
                  font-size: 21px;
                  margin-left: 15px;
                  margin-top: 20px;
                  background-color: #188a98;
                  width: 35px;
                  height: 25px;
                  border-radius: 50%;
                  text-align: center;
                  line-height: 25px;
                  cursor: pointer;
                  color: white;
                }
                .state_lastseen {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 10px 20px;
                  p {
                    color: white;
                    font-weight: bold;
                    span {
                      color: white;
                    }
                    .dot_state {
                      position: relative;
                      &::after {
                        position: absolute;
                        content: "";
                        top: 8px;
                        left: 8px;
                        background-color: rgb(1, 172, 1);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                      }
                    }
                  }
                }
                .img_name {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 20px;
                  margin-left: 20px;
                  .image_container {
                    max-width: 60px;
                    img {
                      width: 100%;
                    }
                  }
                  span {
                    font-weight: bold;
                    color: white;
                  }
                }
              }
              .second_part {
                padding-top: 10px;
                border-bottom: var(--border-bottom);
                padding-bottom: 10px;
                .phone,
                .country,
                .waiting {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 30px;
                  margin-left: 25px;
                  i {
                    color: #1f8893;
                    background-color: #eee;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 40px;
                  }
                  .info {
                    .hint {
                      font-weight: bold;
                      color: white;
                    }
                    p {
                      font-weight: bold;
                      color: rgb(212, 212, 212);
                    }
                  }
                }
              }
              .three_part {
                padding-top: 10px;
                border-bottom: var(--border-bottom);
                padding-bottom: 10px;
                span {
                  font-weight: bold;
                  margin-left: 20px;
                  color: white;
                  font-size: 20px;
                }
                .label_icons {
                  margin: 15px 70px 0 20px;
                  .icon_hover {
                    position: relative;
                    display: inline-block;
                    &:hover {
                      .hint {
                        display: block;
                      }
                    }
                    i {
                      position: relative;
                      z-index: 1;
                      color: #1f8893;
                      transform: rotate(135deg);
                      font-size: 20px;
                      margin-right: 5px;
                    }
                    .hint {
                      display: none;
                      position: absolute;
                      width: max-content;
                      left: -160%;
                      top: 25px;
                      .span_hover {
                        margin-left: 0;
                        position: relative;
                        border-width: 1px;
                        border-color: #c4c3c3;
                        border-style: solid;
                        max-width: 120px;
                        height: auto;
                        padding: 0 6px;
                        text-align: center;
                        font-size: 14px;
                        border-radius: 4px;
                        background-color: #ddd;
                        color: #4a4a4a;
                        z-index: 10000;
                        &::before {
                          position: absolute;
                          content: "";
                          left: 45px;
                          top: -15px;
                          border-width: 7px;
                          border-color: transparent transparent #c4c3c3
                            transparent;
                          border-style: solid;
                          width: 0px;
                          height: 0px;
                          z-index: 10000;
                        }
                      }
                    }
                  }
                }
              }
              .four_part {
                padding-top: 15px;
                border-bottom: var(--border-bottom);
                padding-bottom: 5px;
                span {
                  font-weight: bold;
                  margin-left: 20px;
                  color: white;
                  font-size: 20px;
                }
                .group_items {
                  ul {
                    list-style: none;
                    max-height: 220px;
                    overflow-y: auto;
                    li {
                      .img_info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 15px 15px 5px 0;
                        padding-right: 10px;
                        .img_container {
                          max-width: 40px;
                          img {
                            width: 100%;
                          }
                        }
                        span {
                          font-size: 18px;
                        }
                      }
                    }
                  }
                }
              }
              .five_part {
                margin-bottom: 50px;
                overflow-y: auto;
                span {
                  font-weight: bold;
                  margin-left: 20px;
                  color: white;
                  font-size: 20px;
                }
                .media_box {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-direction: row;
                  gap: 10px;
                  overflow-x: scroll;
                  flex-wrap: nowrap;
                  width: auto;
                  margin-left: 21px;
                  margin-top: 10px;
                  padding-bottom: 12px;
                  margin-right: 10px;
                  .image_container {
                    min-width: 90px;
                    min-height: 90px;
                    border-radius: 20px;
                    overflow: hidden;
                    img {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        // end  chat area
      }
      // end conversation 
      // start contact 
      .contact_layout {
        display: none;
        // display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        .contact_background {
          height: 100%;
          width: 100%;
          position: relative;
          overflow-y: auto;
          .contact_container {
            width: 100%;
            height: 100%;
            background-color: var(--background--container-color);
            padding: 30px;
            // start upper div
            .upper_btns_div {
              background-color: var(--background-color);
              padding: 10px 20px;
              border-radius: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;
              @media (max-width: 740px) {
                flex-direction: column;
                gap: 20px;
                width: 60%;
                margin: auto;
                padding: 15px 50px;
                margin-bottom: 30px;
              }
              @media (max-width: 492px) {
                padding: 15px 20px;
              }
              .upper_btns_div_1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                position: relative;
                @media (max-width: 740px) {
                  flex-direction: column;
                  gap: 20px;
                  width: -webkit-fill-available;
                  padding: 0 20px;
                }
                @media (max-width: 550px) {
                  flex-direction: column;
                  gap: 20px;
                  width: -webkit-fill-available;
                  padding: 0;
                }

                button {
                  border: 0;
                  outline: none;
                  padding: 8px 10px;
                  border-radius: 5px;
                  margin-right: 5px;
                  color: white;
                  width: inherit;
                  i {
                    margin-right: 5px;
                  }
                }
                .delete {
                  background-color: #f76b6d;
                  &:hover {
                    background-color: #fd4346;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                }
                .status {
                  background-color: #febf32;
                  &:hover {
                    background-color: #df9800;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                }
                .import {
                  background-color: #50bc78;
                  &:hover {
                    background-color: #42a566;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                }
                .btn_dropdown {
                  position: relative;
                  background-color: #909399;
                  width: fit-content;
                  display: inline-block;
                  border-radius: 5px;
                  padding-right: 5px;
                  @media (max-width: 740px) {
                    // width: inherit;
                  }
                  &:hover {
                    background-color: #bbbbbb;
                  }
                  .btn_with_arrow {
                    .export {
                      background-color: inherit;
                      margin-right: 0;
                      cursor: unset;
                    }
                    span {
                      width: 25px;
                      display: inline-block;
                      position: relative;
                      padding: 0 10px;
                      text-align: center;
                      color: white;
                      cursor: pointer;
                      transition: 0.5s;
                      &:hover {
                        transition: 0.5s;
                        &:after {
                          height: 30px;
                          top: -3px;
                        }
                      }
                      &:after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 22px;
                        background-color: white;
                        top: 0;
                        left: 0;
                      }
                    }
                  }
                  .menuitems {
                    display: none;
                    position: absolute;
                    top: 35px;
                    right: 0px;
                    background-color: white;
                    border-radius: 3px;

                    padding-top: 10px;
                    padding-bottom: 10px;
                    a {
                      text-decoration: none;
                      color: #747474;
                      margin-bottom: 5px;
                      div {
                        transition: 0.5s;
                        padding: 7px 20px;
                        &:hover {
                          background-color: #eee;
                        }
                      }
                    }
                  }
                }
              }
              .upper_btns_div_2 {
                .new_btn {
                  border: 0;
                  outline: none;
                  padding: 8px 10px;
                  border-radius: 5px;
                  margin-right: 5px;
                  color: white;
                  background-color: #65c3dc;
                  &:hover {
                    background-color: #398aa0;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                  i {
                    margin-right: 5px;
                  }
                }
              }
            }
            .second_div {
              background-color: var(--background-color);
              padding: 10px 20px;
              border-radius: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;
              @media (max-width: 740px) {
              }
              .select_part {
                label {
                  color: white;
                  font-weight: bold;
                  margin-right: 10px;
                }
                select {
                  border-radius: 4px;
                  border-color: #d3d3d3;
                  padding: 3px 10px;
                  outline: none;
                }
              }
              .search_div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                padding: 30px 20px;
                height: 70px;

                input {
                  outline: none;
                }
                input[type="search"] {
                  -webkit-appearance: textfield;
                  -webkit-box-sizing: content-box;
                  font-family: inherit;
                  font-size: 100%;
                }
                input::-webkit-search-decoration,
                input::-webkit-search-cancel-button {
                  display: none;
                }
                input[type="search"] {
                  background: #ededed
                    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
                    no-repeat 9px center;
                  border: solid 1px #ccc;
                  padding: 9px 10px 9px 32px;
                  width: 55px;
                  -webkit-border-radius: 10em;
                  -moz-border-radius: 10em;
                  border-radius: 10em;
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  transition: all 0.5s;
                }
                input[type="search"]:focus {
                  width: 230px;
                  background-color: #fff;
                  border-color: #66cc75;
                  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  @media (max-width: 444px) {
                    width: 160px;
                  }
                }
                input:-moz-placeholder {
                  color: #999;
                }
                input::-webkit-input-placeholder {
                  color: #999;
                }
                #search_active_chat input[type="search"] {
                  width: 230px;
                  padding-left: 10px;
                  color: transparent;
                  cursor: pointer;
                  @media (max-width: 444px) {
                    width: 160px;
                  }
                }
                #search_active_chat input[type="search"]:hover {
                  background-color: #fff;
                }
                #search_active_chat input[type="search"]:focus {
                  width: 210px;
                  padding-left: 32px;
                  color: #000;
                  background-color: #fff;
                  cursor: auto;
                  @media (max-width: 444px) {
                    width: 150px;
                  }
                }
                #search_active_chat input:-moz-placeholder {
                  color: transparent;
                }
                #search_active_chat input::-webkit-input-placeholder {
                  color: transparent;
                }
              }
            }
            .tabel_container {
              width: 100%;
              border-radius: 10px;
              table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: var(--border-bottom);
                .header_table {
                  background-color: #008491;
                  color: white;
                }
                th,
                td {
                  text-align: center;
                  padding: 8px;
                }
                tr {
                  // background-color: #f2f2f2;
                  background-color: var(--background-color);
                  color: white;
                  font-weight: bold;
                }
                td {
                  .img_container {
                    max-width: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin: auto;
                    img {
                      width: 100%;
                    }
                  }
                  span {
                    background-color: rgb(126, 182, 255);
                    border-radius: 10px;
                    padding: 3px 15px;
                    font-weight: bold;
                    color: rgb(83, 83, 83);
                  }
                  .actions {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    button {
                      border: 0;
                      outline: none;
                      padding: 8px 10px;
                      border-radius: 5px;
                      margin-right: 5px;
                      color: white;
                    }
                    .edit_tabel {
                      background-color: #26aae7;
                    }
                    .delete_tabel {
                      background-color: #f76b6d;
                    }
                    .switch {
                      position: relative;
                      display: inline-block;
                      width: 50px;
                      height: 24px;
                      input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                      }
                      input:checked + .slider {
                        background-color: #2196f3;
                      }
                      input:focus + .slider {
                        box-shadow: 0 0 1px #2196f3;
                      }
                      input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                      }
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        &:before {
                          position: absolute;
                          content: "";
                          height: 21px;
                          width: 21px;
                          left: 4px;
                          bottom: 2px;
                          background-color: white;
                          -webkit-transition: 0.4s;
                          transition: 0.4s;
                        }
                      }
                      .slider.round {
                        border-radius: 34px;
                      }

                      .slider.round:before {
                        border-radius: 50%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      // end contact 
      // start user 
      .users_layout {
        display: none;
        // display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        .contact_background {
          height: 100%;
          width: 100%;
          position: relative;
          .contact_container {
            width: 100%;
            height: 100%;
            background-color: var(--background--container-color);
            padding: 30px;
            // start upper div
            .upper_btns_div {
              background-color: var(--background-color);
              padding: 10px 20px;
              border-radius: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;
              @media (max-width: 740px) {
                flex-direction: column;
                gap: 20px;
                width: 60%;
                margin: auto;
                padding: 15px 50px;
                margin-bottom: 30px;
              }
              @media (max-width: 492px) {
                padding: 15px 20px;
              }
              .upper_btns_div_1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                position: relative;
                @media (max-width: 740px) {
                  flex-direction: column;
                  gap: 20px;
                  width: -webkit-fill-available;
                  padding: 0 20px;
                }
                @media (max-width: 550px) {
                  flex-direction: column;
                  gap: 20px;
                  width: -webkit-fill-available;
                  padding: 0;
                }
                button {
                  border: 0;
                  outline: none;
                  padding: 8px 10px;
                  border-radius: 5px;
                  margin-right: 5px;
                  color: white;
                  width: inherit;
                  i {
                    margin-right: 5px;
                  }
                }
                .delete {
                  background-color: #f76b6d;
                  &:hover {
                    background-color: #fd4346;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                }
                .status {
                  background-color: #febf32;
                  &:hover {
                    background-color: #df9800;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                }
                .import {
                  background-color: #50bc78;
                  &:hover {
                    background-color: #42a566;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                }
                .btn_dropdown {
                  position: relative;
                  background-color: #909399;
                  width: fit-content;
                  display: inline-block;
                  border-radius: 5px;
                  padding-right: 5px;
                  @media (max-width: 740px) {
                    // width: inherit;
                  }
                  &:hover {
                    background-color: #bbbbbb;
                  }
                  .btn_with_arrow {
                    .export {
                      background-color: inherit;
                      margin-right: 0;
                      cursor: unset;
                    }
                    span {
                      width: 25px;
                      display: inline-block;
                      position: relative;
                      padding: 0 10px;
                      text-align: center;
                      color: white;
                      cursor: pointer;
                      transition: 0.5s;
                      &:hover {
                        transition: 0.5s;
                        &:after {
                          height: 30px;
                          top: -3px;
                        }
                      }
                      &:after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 22px;
                        background-color: white;
                        top: 0;
                        left: 0;
                      }
                    }
                  }
                  .menuitems {
                    display: none;
                    position: absolute;
                    top: 35px;
                    right: 0px;
                    background-color: white;
                    border-radius: 3px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    a {
                      text-decoration: none;
                      color: #747474;
                      margin-bottom: 5px;
                      div {
                        transition: 0.5s;
                        padding: 7px 20px;
                        &:hover {
                          background-color: #eee;
                        }
                      }
                    }
                  }
                }
              }
              .upper_btns_div_2 {
                .newuser_btn {
                  border: 0;
                  outline: none;
                  padding: 8px 10px;
                  border-radius: 5px;
                  margin-right: 5px;
                  color: white;
                  background-color: #65c3dc;
                  &:hover {
                    background-color: #398aa0;
                    transform: scale(1.06);
                    box-shadow: 0px 0px 5px rgb(172, 172, 172);
                  }
                  i {
                    margin-right: 5px;
                  }
                }
              }
            }
            .second_div {
              background-color: var(--background-color);
              padding: 10px 20px;
              border-radius: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;
              @media (max-width: 740px) {
              }
              .select_part {
                label {
                  color: white;
                  font-weight: bold;
                  margin-right: 10px;
                }
                select {
                  border-radius: 4px;
                  border-color: #d3d3d3;
                  padding: 3px 10px;
                  outline: none;
                }
              }
              .search_div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                padding: 30px 20px;
                height: 70px;

                input {
                  outline: none;
                }
                input[type="search"] {
                  -webkit-appearance: textfield;
                  -webkit-box-sizing: content-box;
                  font-family: inherit;
                  font-size: 100%;
                }
                input::-webkit-search-decoration,
                input::-webkit-search-cancel-button {
                  display: none;
                }
                input[type="search"] {
                  background: #ededed
                    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
                    no-repeat 9px center;
                  border: solid 1px #ccc;
                  padding: 9px 10px 9px 32px;
                  width: 55px;
                  -webkit-border-radius: 10em;
                  -moz-border-radius: 10em;
                  border-radius: 10em;
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  transition: all 0.5s;
                }
                input[type="search"]:focus {
                  width: 230px;
                  background-color: #fff;
                  border-color: #66cc75;
                  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                  @media (max-width: 444px) {
                    width: 160px;
                  }
                }
                input:-moz-placeholder {
                  color: #999;
                }
                input::-webkit-input-placeholder {
                  color: #999;
                }
                #search_active_chat input[type="search"] {
                  width: 230px;
                  padding-left: 10px;
                  color: transparent;
                  cursor: pointer;
                  @media (max-width: 444px) {
                    width: 160px;
                  }
                }
                #search_active_chat input[type="search"]:hover {
                  background-color: #fff;
                }
                #search_active_chat input[type="search"]:focus {
                  width: 210px;
                  padding-left: 32px;
                  color: #000;
                  background-color: #fff;
                  cursor: auto;
                  @media (max-width: 444px) {
                    width: 150px;
                  }
                }
                #search_active_chat input:-moz-placeholder {
                  color: transparent;
                }
                #search_active_chat input::-webkit-input-placeholder {
                  color: transparent;
                }
              }
            }
            .tabel_container {
              width: 100%;
              border-radius: 10px;
              table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                .header_table {
                  background-color: #008491;
                }
                th,
                td {
                  text-align: center;
                  padding: 8px;
                }
                tr {
                  background-color: var(--background-color);
                  color: white;
                  font-weight: bold;
                }
                td {
                  span {
                    background-color: rgb(126, 182, 255);
                    border-radius: 10px;
                    padding: 3px 15px;
                    font-weight: bold;
                    color: rgb(83, 83, 83);
                  }
                  .actions {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    button {
                      border: 0;
                      outline: none;
                      padding: 8px 10px;
                      border-radius: 5px;
                      margin-right: 5px;
                      color: white;
                    }
                    .edit_tabel {
                      background-color: #26aae7;
                    }
                    .assign_tabel {
                      background-color: #45c2fc;
                    }
                    .delete_tabel {
                      background-color: #f76b6d;
                    }
                    .switch {
                      position: relative;
                      display: inline-block;
                      width: 50px;
                      height: 24px;
                      input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                      }
                      input:checked + .slider {
                        background-color: #2196f3;
                      }
                      input:focus + .slider {
                        box-shadow: 0 0 1px #2196f3;
                      }
                      input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                      }
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        &:before {
                          position: absolute;
                          content: "";
                          height: 21px;
                          width: 21px;
                          left: 4px;
                          bottom: 2px;
                          background-color: white;
                          -webkit-transition: 0.4s;
                          transition: 0.4s;
                        }
                      }
                      .slider.round {
                        border-radius: 34px;
                      }

                      .slider.round:before {
                        border-radius: 50%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      // end user 
      // start report 
      .reports {
        display: none;
        // display: block;
        width: 100%;
        height: 100%;
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 30px;
          padding: 25px 30px;
          border-radius: 10px;
          background-color: var(--background-color);
          border: var(--border-bottom);
          .left_part {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            select {
              width: 100px;
              border-radius: 5px;
              border: 0;
              color: #323232;
              outline: none;
              padding: 5px 5px;
            }
            p {
              margin-bottom: 0;
            }
            button {
              border: 0;
              outline: none;
              padding: 8px 20px;
              border-radius: 5px;
              margin-right: 5px;
              color: white;
              background-color: rgb(0, 140, 221);
              box-shadow: 3px 3px 3px #00588b;
              &:hover {
                background-color: rgb(0, 123, 194);
                transform: scale(1.1);
              }
            }
          }
          .btn_dropdown {
            position: relative;
            background-color: #909399;
            width: fit-content;
            display: inline-block;
            border-radius: 5px;
            padding-right: 5px;
            &:hover {
              background-color: #bbbbbb;
              .menuitems {
                display: block;
              }
            }
            .btn_with_arrow {
              .export {
                background-color: inherit;
                margin-right: 0;
                cursor: unset;
              }
              span {
                width: 25px;
                display: inline-block;
                position: relative;
                padding: 0 10px;
                text-align: center;
                color: white;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                  transition: 0.5s;
                  &:after {
                    height: 30px;
                    top: -3px;
                  }
                }
                &:after {
                  position: absolute;
                  content: "";
                  width: 1px;
                  height: 22px;
                  background-color: white;
                  top: 0;
                  left: 0;
                }
              }
            }
            .menuitems {
              display: none;
              position: absolute;
              top: 35px;
              right: 0px;
              background-color: white;
              border-radius: 3px;
              padding-top: 10px;
              padding-bottom: 10px;
              a {
                text-decoration: none;
                color: #747474;
                margin-bottom: 5px;
                div {
                  transition: 0.5s;
                  padding: 7px 20px;
                  &:hover {
                    background-color: #eee;
                  }
                }
              }
            }
            button {
              border: 0;
              outline: none;
              padding: 8px 10px;
              border-radius: 5px;
              margin-right: 5px;
              color: white;
            }
          }
        }
        .big_card {
          border: var(--border-bottom);
          margin: 0 30px;
          border-radius: 10px;
          background-color: var(--background-color);
          .incoming {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: var(--border-bottom);
            gap: 25px;
            width: fit-content;
            margin: 30px 30px 10px;
            padding: 25px 30px;
            border-radius: 10px;
            box-shadow: 4px 4px 0px #495572;
            background-color: #008cdd;
            .incoming_icon {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: inline-block;
              line-height: 40px;
              text-align: center;
              i {
                font-size: 25px;
                color: white;
              }
            }
            .info {
              display: flex;
              flex-direction: column;
              color: white;
              .label {
                font-weight: bold;
                font-size: 22px;
                color: white;
              }
              .number {
                font-weight: 500;
                font-size: 19px;
              }
            }
          }
          .tabel_chart {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            padding: 30px 30px;
            .country_with_message {
              flex-basis: 50%;
              border: 1px solid #dbdbdb;
              background-color: var(--background--container-color);
              padding: 25px 30px;
              border-radius: 10px;
              height: 400px;
              max-height: 400px;
              overflow-y: auto;
              table {
                border-collapse: unset;
                th,
                td {
                  padding: 5px 40px 20px;
                  text-align: left;
                  font-weight: bold;
                  color: white;
                  i {
                    margin-left: 15px;
                  }
                }
                th {
                  font-size: 20px;
                  text-align: center;
                  border-bottom: 1px solid #ddd;
                }
                .country,
                .country_label {
                  border-right: 1px solid #ddd;
                }
              }
            }
            .chart {
              flex-basis: 50%;
              border: 1px solid #dbdbdb;
              padding: 25px 30px;
              border-radius: 10px;
              height: 400px;
              background-color: var(--background--container-color);
            }
          }
        }
      }
      // end reports 
      // start edit profile  
      .editProfile_container {
        width: 100%;
        height: 100%;
        // display: none;
        display: block;
        .editProfile_card {
          text-align: center;
          padding: 30px 30px;
          width: 500px;
          margin: auto;
          .img_container {
            display: inline-block;
            max-width: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 30px;
            border: 3px solid #ddd;
            box-shadow: 5px 5px 14px #8d8d8d;
            img {
              width: 100%; 
            }
          }
          .btns {
            margin-bottom: 30px;
            button {
              padding: 10px 20px;
              border: 0;
              outline: none;
              border-radius: 7px;
              box-shadow: 2px 2px 3px #727272;
            }
            .btn_upload {
              margin-right: 20px;
              background-color: #3db16b;
              color: white;
              font-weight: 600;
              &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 5px rgb(192, 192, 192);
              }
            }
            .btn_remove {
              background-color: #f86c6b;
              color: white;
              font-weight: 600;
              &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 5px rgb(192, 192, 192);
              }
            }
          }
          form {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            label {
              display: block;
              font-weight: 500;
              color: #646464;
              font-size: 17px;
              margin-bottom: 10px;
            }
            input {
              width: 100%;
              border: 0;
              border-radius: 6px;
              padding: 7px 15px;
              margin-bottom: 20px;
              outline: none;
              box-shadow: 3px 3px 3px #d5d5d5;
              height: 44px;
              background: #eeeeeee8;
            }
          }
          .save_cancle {
            text-align: right;
            button {
              padding: 10px 20px;
              border: 0;
              outline: none;
              border-radius: 7px;
              box-shadow: 2px 2px 3px #727272;
            }
            .btn_save {
              background-color: #20a8d8;
              color: white;
              font-weight: 600;
              &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 5px rgb(192, 192, 192);
              }
            }
            .btn_cancle {
              margin-right: 20px;
              background-color: rgb(151, 151, 151);
              color: white;
              font-weight: 600;
              &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 5px rgb(192, 192, 192);
              }
            }
          }
        }
      }
      // end edit profile 
    }
  }
}
